@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 8px; 
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #2d3748; 
  border-radius: 10px;

}

body::-webkit-scrollbar-thumb {
  background-color: #4a5568; 
  border-radius: 10px; 
  border: 2px solid #2d3748; 
}



.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
  align-items: center;
  padding: 20px 40px;
  background-color: #0a0a0a;
  box-shadow: 0 4 10px rgba(255, 255, 255, 0.8);
}



.intro-container i:hover {
  cursor: pointer;
}


.intro-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.name{
  font-size: 2.5rem;
}


.profile-pic{
  justify-self: end;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 30px;
}

@media (max-width: 760px){
  .profile-pic{
    width: 125px;
    height: 125px;
  }

  .name {
    font-size: 1.5rem;
  }

  .intro-text p {
    font-size: 0.8rem;
  }


  .experience-container{
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .logo-placeholder{
    justify-content: start;
    height: 60px;
  }

  .logo-placeholder img{
    width: 50px;
    height: 50px;
  }

  .experience-item{
    margin-left: 1%;
    margin-bottom: 5%;
  }

  .experience-footer button {
    margin-top: 2%
  }

}


@media (min-width: 769px){
  .experience-item {
    display: grid;
    grid-template-columns: 1fr 15fr; 
    gap: 1.5rem; 
    margin-bottom: 2%;
  }
}


.specialty-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  margin-top: 4%;
}

.speciality-title{
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 6% ;
  font-size: 1.5rem;
  font-weight: bold;
}

h2{
  font-size: 1rem;
  font-weight: bold;
}


 #web-experience{
  height: 500px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.experience-container{
  margin-left: 14%;
  margin-right: 14%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.skills-container{
  margin-left: 14%;
  margin-right: 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  height: 300px;
  overflow-y: auto;
  scroll-behavior: smooth;
  gap: 20px;
}


.skills-container::-webkit-scrollbar {
  width: 8px; 
  border-radius: 10px;

}

.skills-container::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 10px;

}

.skills-container::-webkit-scrollbar-thumb {
  background-color: #4a5568; 
  border-radius: 10px; 
  border: 2px solid #2d3748; 
}



.skills-container > div {
  width: 23%; 
}


@media screen and (max-width: 760px) {
  .skills-container {
    justify-content: center; 
  }

  .skills-container > div {
    width: 45%; 
    margin-bottom: 20px; 
  }

  .courses-container {
    justify-content: center;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .courses-container > div {
    width: 45%; 
    margin-bottom: 20px; 
  }

  

}


.courses-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;

}

.courses-container::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 10px;

}

.courses-container::-webkit-scrollbar-thumb {
  background-color: #4a5568; 
  border-radius: 10px; 
  border: 2px solid #2d3748; 
}




.experience-container::-webkit-scrollbar {
  width: 8px; 
  border-radius: 10px;

}

.experience-container::-webkit-scrollbar-track {
  background: #2d3748; 
  border-radius: 10px;

}

.experience-container::-webkit-scrollbar-thumb {
  background-color: #4a5568; 
  border-radius: 10px; 
  border: 2px solid #2d3748; 
}

.personal-container{
  margin-left: 14%;
  margin-right: 14%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

@media (max-width: 760px){
  .personal-container{
    margin-bottom: 150px;
  }
}


.info-container{
  margin-left: 14%;
  margin-right: 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.contact-info{
  margin-bottom: 40px;
}

.contact-title{
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.courses-container{
  margin-left: 14%;
  margin-right: 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.courses-item{
  width: 30%;
}

.security-skills{
  margin-top: 20px;
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.security-skills > div:last-child{
  margin-bottom: 20px;
}


.security-skills::-webkit-scrollbar {
  width: 8px; 
  border-radius: 10px;

}

.security-skills::-webkit-scrollbar-track {
  background: #2d3748; 
  border-radius: 10px;

}

.security-skills::-webkit-scrollbar-thumb {
  background-color: #4a5568; 
  border-radius: 10px; 
  border: 2px solid #2d3748; 
}

.cv-container{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;

}
