@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #2d3748; /* Track background color */
  border-radius: 10px;

}

body::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  border: 2px solid #2d3748; /* Padding around the thumb */
}



.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
  align-items: center;
  padding: 20px 40px;
  background-color: #0a0a0a;
  border-bottom: 1px solid white;
}



.intro-container i:hover {
  cursor: pointer;
}


.intro-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.name{
  font-size: 2.5rem;
}


.profile-pic{
  justify-self: end;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 30px;
}

@media (max-width: 760px){
  .profile-pic{
    width: 125px;
    height: 125px;
  }

  .name {
    font-size: 1.5rem;
  }

  .intro-text p {
    font-size: 0.8rem;
  }


  .experience-container{
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .logo-placeholder{
    justify-content: start;
    height: 60px;
  }

  .logo-placeholder img{
    width: 50px;
    height: 50px;
  }

  .experience-item{
    margin-left: 1%;
    margin-bottom: 5%;
  }

  .experience-footer button {
    margin-top: 2%
  }

}


@media (min-width: 769px){
  .experience-item {
    display: grid;
    grid-template-columns: 1fr 11fr; /* Two columns: 1/4 for the logo, 3/4 for the details */
    gap: 1.5rem; /* Space between the logo and details */
    margin-bottom: 2%;
  }
}


.specialty-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  margin-top: 4%;
}

.speciality-title{
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 6% ;
  font-size: 1.5rem;
  font-weight: bold;
}

.experience-container{
  margin-left: 14%;
  margin-right: 14%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 500px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.experience-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  border-radius: 10px;

}

.experience-container::-webkit-scrollbar-track {
  background: #2d3748; /* Track background color */
  border-radius: 10px;

}

.experience-container::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  border: 2px solid #2d3748; /* Padding around the thumb */
}




/* .experience-item{
  margin-bottom: 5%;
} */